.cartWidget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
    color: black;
    width: 20%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.cartWidget:hover {
    cursor: pointer;
}

.cartWidget_container {
    position: relative;
    display: inline-block;
}

.cartWidget i {
    font-size: 28px;
}

.productQuantity {
    background-color: rgb(255 188 11);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    position: absolute;
    top: -30%;
    left: 60%;
    font-size: 15px;
    font-weight: bold;
}

.cartWidget_Info {
    display: flex;
    flex-direction: column;
    gap: 15%;
}

.cartWidget_name {
    font-family: Roboto;
    margin-bottom: 5%;
}

.cartWidgetPrice {
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}

@media screen and (max-width:900px) {
    .cartWidget {
        display: block;
        width: 20%;
        margin: 0 auto;
    }

    .cartWidget_Info {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .cartWidget {
        grid-column: 3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15%;
        color: black;
        width: 100%;
        align-items: center;
        justify-items: center;
        margin: 0;
    }

    .cartWidget i {
        font-size: 23px;
    }

    .productQuantity {
        width: 13px;
        height: 15px;
        font-size: 13px;
    }

    .cartWidget_Info {
        display: flex;
    }

    .cartWidget_name {
        font-size: 15px;
    }
    
    .cartWidgetPrice {
        font-size: 15px;
        font-weight: bold;
        font-family: Roboto;
    }
}