header {
    max-width: 100%;
    margin: 1% 0;
}

.headerContainer {
    width: 80%;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    display: grid;
    gap: 2%;
    margin: 0 auto;
}

.logoContainer {
    max-width: 30%;
    height: auto;
}

.logoContainer img {
    width: 250%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.searchBar {
    display: inline-grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

.searchBar input {
    border: 1px solid #e0e0e0;
    border-radius: 0;
    padding: 3% 4%;
    font-size: 15px;
    margin-right: -5px;
}

.searchBar input:focus-visible {
    outline: 2px solid #000;
    outline-offset: -2px; 
}

.searchButton {
    padding: 0 15%;
    color: #fff;
    background: rgb(255, 255, 255);
    background: linear-gradient(204deg, rgb(202, 202, 202) 0%, rgba(0, 0, 0, 1) 18%);
    border: 0;
    background-size: 100% 100%;
    transition: background-size 0.5s ease;
    transition: 0.5s ease;
}


.searchButton:hover{
    color: rgb(255 188 11);
    transition: 0.1s ease-in;
    transition: background-size 0.5s ease;
    transition: 0.5s ease;
    background-size: 200% 200%;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    header {
        max-width: 100%;
        margin: 3% 0;
    }

    .headerContainer {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        display: grid;
        gap: 2%;
        margin: 0 auto;
    }
}

@media screen and (max-width:700px) {
    header {
        margin: 1% 0 0 0;
    }
    .headerContainer {
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
    .logoContainer{
        grid-column: span 2;
    }
    .searchBar{
        grid-column: 1 / span 3;
        justify-self: center;
        width: 100%;
    }

}