.navmenu{
    width: 100%;
    background-color: #e0e0e0;
}

.navmenuContainer{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
}

.navmenuContainer a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 100%;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
}

.navmenuContainer a.active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 100%;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    background-color: rgb(255 188 11);
}

.navmenuContainer a:hover{
    color: #000;
    background-color: rgb(255 188 11);
}

.bestParts{
    width: 100%;
    background-image: url('../assets/images/HomePage/BestPartsBlock_Image.jpg');
    background-size: cover;
    background-position: center;
    height: 25vw;
    display: grid;
    align-items: center;
}

.bestParts::before{
    content: '';
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.bestPartsInternal{
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
}

.bestPartsInternal h4{
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
}

.bestPartsInternal p{
    font-family: Roboto;
}

.categoriesCarousel{
    width: 100%;
    margin: 100px 0;
}

.categoriesCarouselContainer{
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width:700px) {
    .navmenuContainer{
        height: 40px;
        justify-content: center;
    }

    .navmenuContainer a{
        font-size: 14px;
    }

    .bestPartsInternal h4{
        font-size: 5vw;
    }

    .bestPartsInternal p{
        font-size: 3vw;
        line-height: normal;
        margin-top: 0;
    }
}
